<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Real World API</title>
</head>
<body>
    <h1>The real world API</h1>
    <div id="container"></div>
    <!--<script src="~/source/app.js"></script>-->
    <script src="~/dist/bundle.js"></script>
</body>
</html>